@model Bookings.Models.Booking

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="text-danger" style="text-align:center">
    <h1>Nie jesteś zalogowany</h1>
</div>
